DATABASE_URL="postgresql://postgres:postgres@localhost:5433/nexthire"
JWT_SECRET=""
NEXTAUTH_SECRET=""
RESEND_API_KEY="resend-api-key"
CLIENT_HOST="http://localhost:3000"
OPENAI_API_KEY="secure-openai-key"
UPLOADTHING_TOKEN="uploadthing-api-key"

ARCJET_KEY="arcjet-api-key"

GOOGLE_CLIENT_ID="Google auth client id"
GOOGLE_CLIENT_SECRET="Google auth secret"