DATABASE_URL="postgresql://postgres:postgres@localhost:5433/nexthire"
JWT_SECRET=""
NEXTAUTH_SECRET=""
RESEND_API_KEY="resend-api-key"
CLIENT_HOST="http://localhost:3001"
OPENAI_API_KEY="secure-openai-key"
UPLOADTHING_TOKEN="uploadthing-api-key"

