DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nexthire"
JWT_SECRET="some-random-secret"
NEXTAUTH_SECRET="some-random-secret"
RESEND_API_KEY="resend-api-key"
CLIENT_HOST="http://localhost:3000"
OPENAI_API_KEY="secure-openai-key"
