.table{
    margin-top: 20%;
    border-spacing: 15px 15px;
}

.tableRow{
    margin-right: 20px;
}

.submitBtn{
    height: 2rem;
    width: 5rem;
    background: green;
    color: white;
    cursor: pointer;
}

.resetBtn{
    height: 2rem;
    width: 5rem;
    background: red;
    color: white;
    cursor: pointer;
}