.container{
    display: flex;
}

.sidebar{
    padding-top: 4rem;
    width: 215px;
    height: 100vh !important;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.sidebarBtn{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    display: block;
}

.rightContainer{
    padding: 3.7rem 3rem;
    overflow: auto !important;
}

.table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 5px;
}

