/* .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5rem 5rem;
} */

.container{
    background-color: whitesmoke;
    display: flex;
}

.rightContainer{
    width: 100%;
    padding: 3.7rem 3rem;
    overflow: auto !important;
}

.sidebar{
    height: 100vh !important;
    width: 15rem;
    background-color: lightgrey;
}

.rightContainer{
    padding: 3.7rem 3rem;
}

.table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 5px;
}

